// Custom.scss
// Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
$font-primary: 'Muli',
Arial,
sans-serif;
$font-secondary: 'Playfair Display',
Georgia,
serif;
$white: #fff;
$black: #404044;
$primary: orange;